<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="info.vourja.airline">

    <application
        android:allowBackup="true"
        android:name=".AirLineApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.LoginWithTwitterActivity" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="276ad22bec7ff5198a1a95fed7e9f894564220e8" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
</manifest>